<% include partials/header %>

    <div class="clear"></div>
    <div id="page-content" class='tpcpc'>
        <section class="breadcrumb tpccs">
            <div class="container">
                <h2>Contact Us</h2>
                <ul>
                    <li><a href="index.html">Home</a> ></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </section>
        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="get-quote-form">
                        <h2>Get a free quote form</h2>
                        <form id="get-quote" action='/send-email' method='post'>
                            <div>
                                <input type="text" name="name" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" name="email" placeholder="Email" />
                            </div>
                            <div>
                                <input type="text" name="phone" placeholder="Phone no" />
                            </div>
                            <div class="form-select">
                                <span></span>
                                <select name='policytype'>
                                    <option value='health'>Health Insurance</option>
                                    <option value='life'>Life Insurance</option>
                                    <option value='vehicle'>Vehicle Insurance</option>
                                    <option value='travel'>Travel Insurance</option>
                                </select>
                            </div>
                            <div>
                                <textarea rows="1" cols="1" placeholder="Message" name='message'></textarea>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn-default"/>
                            </div>
                        </form>
                        </div>
                        <%# <div class="contact-info">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="contact-address">
                                        <h3>Address</h3>
                                        <div>
                                            <i class="icon ti-home"></i>
                                            <p>633/A-21,
                                                <br/>Gulzar Colony, Chinhat
                                                <br/>Lucknow - Uttar Pradesh
                                                <br/>Zip - 226016</p>
                                            <p class="social">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="contact-dtl">
                                        <h3>Contact Details</h3>
                                        
                                        <div>
                                            <i class="icon ti-email"></i>
                                            <p><a href="/">Tezz Policy</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div> %>
                        <div class="contact-map tpms">
                            <iframe src="https://maps.google.com/maps?q=gulzar%20colony%2Cchinhat%2Clucknow&t=k&z=17&ie=UTF8&iwloc=&output=embed" width="100%" height="260" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>

<% include partials/footer %>
